.App {
  text-align: center;
  background-color: #282c34;
}

.subject {
  text-align: center;
  font-size: calc(30px + 2vmin);
  background-color:white;
  color: black;
  text-decoration: none;
}

.App-nav { 
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-contents { 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Link {
  text-decoration: none;
  color: black;
}