.Goeril-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  margin-top: 1em;
  margin-bottom: 1em;
  color: brown;
}

.Goeril-result {
  margin-top: 1em;
}